@charset "utf-8";
/* CSS Document */

a img
{
	border: 0;
}

/* IE8 & Below */
.steps ul li.one, .steps ul li.two, .steps ul li.three
{
	font-size: 1.75em\9;
	line-height: 2.25em\9;
}

.steps ul li.one
{
	margin-left: 1em\9;
}

#left, #right
{
	margin-top: 20px\9;
}

#features ul li
{
	margin-left: 1.5em\9 !important;
}

ul.nav
{
	width: 380px\9 !important;
}
