#moreinvoiceoptions {
    width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;

}

#moreinvoiceoptions .head {
   cursor: pointer;
   border-radius: 10px;
   border: 1px solid orange;
   background-color: #FFC993;
   font-weight: bold;
   color: #CA7604;
   padding: 3px;
}

#moreinvoiceoptions .body {
   border-radius: 10px;
   border: 1px solid orange;
   border-top: 0px;
   background-color: #FFC993;
   padding: 3px;
   overflow: auto;
   height: 70px;
   padding-right: 5px;
}

.flexcroll{ 
        overflow:scroll;
}

.flexcroll{
scrollbar-face-color: #FFB366;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
width: 12px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
-webkit-border-radius: 10px;
border-radius: 10px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: #FF8000; 
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.body label {
    font-weight: bold;
    display: block;
}

.body textarea {
    width: 95%;
}

body{
    font-family: arial;
    margin: 0px;
    overflow:hidden;
}

.invoice_helper {
    width: 100%;
    height: 160px;
    border: 1px solid silver;
    text-align: center;
    position: fixed;
}


.invoice_helper {
    margin-left:auto;
    margin-right:auto;
}

.invoice {
    height: 800px;
    padding-top: 160px; /*changes with invoice_helper height*/
    (-moz)-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

iframe {
    width: 100%;
    height: 100%;
}

#emailinvoice {
   position: absolute;
   top: 0px;
   right: 5em;
}