@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
}
html{
	height:100%;
}
body{
	background:#f0f0f0;	
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000
}

/* make border 0 */
a img{ 
  border: 0; 
}

.areyousure,.warning,.error{
  font-size: 16px;
  color: red;
  border: 1px solid red;
  width: 300px;
  background-color: #ffc6c6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
}

a{
	text-decoration:none;
	color:silver;
}

a:hover{
	text-decoration:none;
}


#Wrapper{
width:880px;
margin:5%  auto 0 auto;
border:8px solid #ccdce3;
background:url(../images/login_windowbg.gif) repeat-x #edf5f9;
padding:20px 40px;
height:auto;
}

#Wrapper h2{
	font-size:23px;
	color:#121212;
	margin-bottom:15px;
}

#Wrapper p{
	font-size:15px;
	color:#121212;
	margin-bottom:15px;
	line-height:21px;
}


.logost{
	text-align:center;
	margin-bottom:50px;
}

.Row{
	overflow:hidden;
	height:100%;	
}

.Col1{
	float:left;
	width:45%;
	padding-right:5%;
	background:url(../images/col_seprator.jpg) no-repeat right center;
	
	}

.Col2{
	float:right;
	width:45%;
	padding-left:5%;
	}
	
#LoginForm{
	padding:0px;
	margin:0px;
}
#LoginForm h5{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	margin-bottom:5px;
	font-size:16px;
}

#LoginForm input[type="text"],#LoginForm input[type="password"]{
	display:block;
	width:92%;
	padding:15px 10px;
	border:1px solid #ccc;
	background:#fff;
	 -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* CSS3 */
  margin-bottom:20px;
  font-size: 1.75em;
}
#LoginForm input[type="submit"]{
	display:block;
	background:url(../images/log_inbtn.jpg) no-repeat left top;
	width:182px;
	height:77px;
	margin-bottom:20px;
	text-indent:-9000px;
	border:none;
	cursor:pointer;
	margin:0 auto 15px auto;
	
}
.MrgnLft25{
	margin-left:25px;
}

.GreenColor{
	color:#679c20;	
}



.OrangeColor{
	color:#f79a1a;
}

/*inner page styling*/

#Header{
	background:url(../images/inr_hdrbg.jpg) repeat-x left top;
    text-align: right;
    padding-right: 1em;
    background-color: black;
}

#topnavigation{
	float:right;
	margin-right:15px;
	line-height:37px;
	vertical-align:top;
	color:#fff;
}

#topnavigation a{
	color:#fff;
	line-height:37px;
	padding:0 5px 0 0;
	margin-left:5px;	
}

#topnavigation a:hover{
	color:#f79a1a;
}

#logoblock{
	overflow:hidden;
	clear:both;
	width:98%;
	margin:0 1%;
	color:#fff;
    margin-top: -142px;
}
#logoblock .logost{
	margin-top:13px;
	margin-bottom:5px;
	
}


#logoblock .Col11{
	float:left;
	width:25%;
	margin-right:5%;
}
#logoblock .Col12{
	float:right;
	width:65%;
	text-align:right;
	padding-top:10px;
}

#logoblock .Col12 a{
	margin-left:15px;
}

#filterblock{
	line-height:36px;
	color:#fff;
	clear:both;
}
#filterblock a{
	padding:0 5px;
}
#filterblock a:hover{
	color:#74d0f9;	
}

.dataBlk{
	padding:15px ;
	color:#121212;
	/*background:#e5edf1;
	border:1px solid #7f7f7f;
	border-top:none;*/
}
.dataBlk a{
	color:#121212;	
	text-decoration:underline;
}

.dataBlk a:hover{
	color:#74d0f9;
	text-decoration:none;	
}

.dataBlk h2{
	display: block;
	font-size: 21px;
	font-weight: bold;
	margin-bottom:15px;
		
}
.datatable{
	border-collapse:collapse;	
}

.datatable td {
	border-collapse:collapse;
	border:1px solid #9b9b9b;
	padding:10px;
	background:#fff;
}

.datatable th{
	background:#e5edf1;
	border:1px solid #9b9b9b;
	padding:10px;
	
}


.Summarytd{
	padding:0px!important;
	margin:0px !important;
}

.SummaryBlock{
	font-size:14px;
	line-height:28px;
	font-weight:normal;
	background:#e5edf1;
	padding:8px 10px;
	
}

.Actionlinks a{
	margin-right:5px;
	
}
/*New Registration Page, Lost Password Page, and verify.php's Reset Passoword Page CSS*/
#RegForm, #LostPasswordForm, #frmResetPassword{
	padding:0px;
	margin:0px;
	color:#252525;
}
#RegForm sup, #LostPasswordForm sup, #frmResetPassword sup{
	color:#f00;
	}
	
#RegForm h3, #LostPasswordForm h3, #frmResetPassword h3{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	color:#333;
	margin-bottom:10px;
	font-size:18px;
}
#RegForm h5, #LostPasswordForm h5, #frmResetPassword h5{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	color:#333;
	margin-bottom:5px;
	font-size:13px;
}
#RegForm input[type="text"],#RegForm input[type="password"], #LostPasswordForm input[type="text"], #LostPasswordForm input[type="password"], #frmResetPassword input[type="password"]{
	display:block;
	width:92%;
	padding:15px 10px;
	border:1px solid #ccc;
	background:#fff;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    margin-bottom:20px;
    color:#333;
    font-size: 1.75em;
}
#RegForm input[type="submit"]{
	display:block;
	background:url(../images/register_btn.png) no-repeat left top;
	width:170px;
	height:60px;
	margin-bottom:20px;
	text-indent:-9000px;
	border:none;
	cursor:pointer;
	margin:10px auto 15px auto;
	
}

#frmResetPassword input[type="submit"], #LostPasswordForm input[type="submit"]{
	display:block;
	background:url(../images/resetpassword_btn.png) no-repeat left top;
	width:170px;
	height:60px;
	margin-bottom:20px;
	text-indent:-9000px;
	border:none;
	cursor:pointer;
	margin:10px auto 15px auto;
}

#frmResetPassword input[type="submit"]:hover, #LostPasswordForm input[type="submit"]:hover{
	background-position: left -60px;
}

#RegForm input[type="submit"]:hover{
	background-position: left -60px;
}
#RegForm  a.termcond{
	color:#679c20;	
	border-bottom:1px solid #000!important;
}
#RegForm a.termcond:hover{
	color:#679c20;	
	text-decoration:underline;
}
/*New Registrtion page css ends here*/
/*Add Note popup*/
#frmAddNote textarea{
	width:187px;
	height:50px;
	padding:10px;
	display:block;
	margin-bottom:15px;
	
}
#frmAddNote input[type="submit"]{
	background: #ABDA0F url(../images/overlay.png) repeat-x;
padding: 8px 10px 8px;
color: white;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
cursor: pointer;
float: left;
font-size: 18px;
margin: 10px
border:none;
width:205px;
text-align:center;
}
/*Add note pop up ends here*/
#frmAddFile input[type="text"] ,#frmAddFile textarea{
	width:187px;
	padding:10px;
	display:block;
	margin:5px 0;	
}
#frmAddFile select{
	padding:2px 5px;
	margin:5px 0 5px 10px;	
}
#frmAddFile textarea{
	width:187px;
	padding:10px;
	display:block;
	margin:5px 0 10px 0;	
}
#frmAddFile label{
	font-weight:bold;
}
#frmAddFile  input[type="submit"]{
	background: #ABDA0F url(../images/overlay.png) repeat-x;
padding: 8px 10px 8px;
color: white;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
cursor: pointer;
float: left;
font-size: 18px;
margin: 10px
border:none;
width:207px;
text-align:center;
}


#Deletelog  input[type="submit"]{
	background: #ABDA0F url(../images/overlay.png) repeat-x;
padding: 8px 10px 8px;
color: white;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
cursor: pointer;
float: left;
font-size: 18px;
margin: 10px
border:none;
width:80px;
text-align:center;
margin-right:15px;
margin-top:25px;
margin-left:95px;
}
#Deletelog  input[type="button"]{
	background: #ABDA0F url(../images/overlay.png) repeat-x;
padding: 8px 10px 8px;
color: white;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
cursor: pointer;
float: left;
font-size: 18px;
margin: 10px
border:none;
width:80px;
text-align:center;
margin-top:25px;
}
#frmAddWorkLog label{
	font-weight:bold;
}
#frmAddWorkLog input[type="submit"]{
	background: #ABDA0F url(../images/overlay.png) repeat-x;
padding: 8px 10px 8px;
color: white;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
cursor: pointer;
float: left;
font-size: 18px;
margin: 10px
border:none;
width:207px;
text-align:center;
margin-top:15px;
}
#frmAddWorkLog input[type="text"] {
	width:187px;
	padding:5px;
	display:block;
	margin:0px 0 4px 0;	
}
#frmAddWorkLog  select{
   width: 100%;
	padding:2px 5px;
	margin:0px 0 5px 10px;	
}
#frmAddWorkLog  fieldset{
	width:225px;
	padding:5px;
	margin:10px 0 0 0;
	font-weight:bold;
	
	}
	#formsetting label,#formsetting1 label,#formsetting2 label {
		font-family:Arial, Helvetica, sans-serif;
		color:#252525;
	}
#formsetting input[type="text"]!important,#formsetting1 input[type="text"]!important,#formsetting2 input[type="text"]!important, #formsetting input[type="password"]!important,#formsetting1 input[type="password"]!important,#formsetting2 input[type="password"]!important {
	width:140px;
	padding:5px;
	-webkit-border-radius: 5px!important;
-moz-border-radius: 5px!important;
border-radius: 5px!important;
	
}
.settings input[type="submit"], #formsetting  input[type="submit"],#formsetting2  input[type="submit"],#formsetting3  input[type="submit"] {
background: #ABDA0F url(../images/overlay.png) repeat-x;
padding: 8px 10px 8px;
color: white;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
cursor: pointer;
float: left;
font-size: 18px;
margin: 10px border:none;
width: 205px;
text-align: center;
}
.success{
	padding:15px 0;
}

.yui-skin-sam .yui-dt th {
   background: #D8D8DA url(sprite.png) repeat-x 0 0;
}
.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
    font-weight: normal;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.yui-skin-sam .yui-dt th {
text-align: left;
font-weight: bold;
}


/*make row coloring orangish*/
.yui-skin-sam tr.yui-dt-odd {
   background-color: #FCF6F0;
}

.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
background-color: #FFF5EF;
}

.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
background-color: #FDE8DC;
}

.yui-skin-sam tr.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc, .yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted {
background-color: #FCB279;
}

.ui-widget #formsetting input, .ui-widget #formsetting select, .ui-widget #formsetting textarea, .ui-widget #formsetting button{
	-webkit-border-radius: 5px!important;
-moz-border-radius: 5px!important;
border-radius: 5px!important;
	
}

.littletext{
   font-size: .62em;
}
.link{
   color: blue;
}


/* Make jqueryui elements orangeish instead of default gray */
.ui-widget-header {
border: 1px solid gray;
background: orange url(../images/overlay.png) 50% 50% repeat-x;
color: black;
font-weight: bold;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid gray;
background: orange url(../images/overlay.png) 50% 50% repeat-x;
font-weight: normal;
color: black;
}

/* Make forms straight */
.ui-widget label {
width: 175px;
display: block;
float: left;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
font-family: Arial, sans-serif;
font-size: 1em;
width: 160px;
padding: 5px;
margin-bottom: 10px;
}


