#my first git ignore file
gitstatus.txt
*.bak
#ignore link files
*.lnk

#ignore config file so that whoever is installing this on their server can change the info
lib/config.inc.php

#ignore all tar.gz releases
releases/*

#ignore the dompdf log file
/public_html/lib/dompdf/lib/fonts/log.htm
